.Home-Content__Block-Preview{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: aqua;
    box-sizing: border-box;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
